# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Python env variables
*.env

# Misc
.DS_Store
